.about {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: $desktop) {
        grid-template-columns: 1fr 1fr;
    }
    justify-items: center;
    max-width: $desktop;
    &__box {
        background-color: $green;
        margin: 0;
    }
    &__header {
        font-size: $heading1;
        text-align: center;
    }
    &__description {
        font-size: $text1;
        line-height: 2.5rem;
    }
    &__button {
        font-size: $text1;
        line-height: 2.5rem;
        text-decoration: none;
        color: $black;
        background-color: $pink;
        padding: 8px;
        border-radius: 32px;
    }
    &__container {
        padding-bottom: 32px;
    }
    &__image {
        padding: 8px;
        max-width: 100%;
    }
}