.advantages {
    max-width: 768px;
    margin:0 auto;
    border-bottom: 4px solid $pink;
    padding: 32px 4px;
    &__header {
        font-size: 48px;
        text-align: center;
    }
    &__list {
        font-size: 24px;
        list-style: none;
        &--image {
            padding-right: 8px;
        }
        &--element {
            padding: 8px;
        }
    }

}