.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__box {
        margin: 0 auto;
        position: relative;
        width: $desktop;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
    &__button {
        padding: 16px;
        margin: 0 16px;
        height: 64px;
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;
        &:disabled {
            background-color: #cccccc;
        }
    }
    &__opinions {
        background-color: $white;
        inset: 0;
        margin-bottom: 64px;
        padding: 16px;
        margin: 2%;
        scroll-snap-align: center;
        min-height: 256px;
        border-radius: 8px;
        min-width: 96%;
        margin: 2%;
        @media (min-width: $tablet) {
            min-width: 45%;
            margin: 2.5%;
        }
        @media (min-width: $desktop) {
            min-width: 29.3%;
            margin: 2%;
        }
    }
}

