.courses {
    max-width: $desktop;
    margin : 0 auto;
    padding: 32px 0;
    &__heading {
        font-size: $heading1;
        text-align: center;
    }
    &--header {
        font-size: $text1;
    }
    &--image {
        padding: 8px;
    }
    &--description {
        font-size: $text2;
    }
    &__type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__box {
        padding: 16px;
    }
    &__boxHeader {
        display: flex;
        justify-content: center;
    }
    &__button {
        font-size: $text1;
        line-height: 2.5rem;
        text-decoration: none;
        color: $black;
        background-color: $pink;
        padding: 16px;
        border-radius: 32px;
    }
    &__buttonBox {
        display: flex;
        justify-content: center;
    }

}
