.header {
  display: block;
  min-height: 80px;
  max-width: $desktop;
  margin: 0 auto 8px;
  background-color: $white;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet) {
    min-height: 128px;
  }

  @media (max-width: $desktop) {
    position: sticky;
    top: 0;
    margin-bottom: 0px;
  }

  &__image {
    align-items: center;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;

    @media (min-width: $tablet) {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__nav {
    display: block;
    margin-bottom: 0;
    padding-bottom: 16px;
    gap: 32px;
    list-style-type: none;

    @media (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 24px;
    }

    &--link {
      font-size: $text1;
      line-height: 2.5rem;
      text-decoration: none;
      color: $black;
      padding-top: 16px;
    }

    &--open {
      display: block;
      border-style: none none solid none;
      border-color: $secondary;
      border-bottom-width: 4px;
    }

    &--close {
      display: none;

      @media (min-width: $desktop) {
        display: block;
      }
    }
  }
}

.hamburger {
  background-color: $primary;
  font-size: $text1;
  border: none;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 4px;

  @media (min-width: $desktop) {
    display: none;
  }

  @media (min-width: $tablet) {
    top: 32px;
    right: 32px;
  }
}
