.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 128px;
    max-width: $desktop;
    margin : 0 auto 8px;
    background-color: $white;
    @media (max-width: $desktop) {
        position: sticky;
        top: 0;
    }
    &__image {
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    &__nav {
        @media (max-width: $desktop) {
            display: block;

        }
        @media (min-width: $desktop) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        gap: 32px;
        list-style-type: none;
        padding-top: 24px;
        &--link {
            font-size: $text1;
            line-height: 2.5rem;
            text-decoration: none;
            color: $black;
            padding: 16px;
        }
        &--open {
            display: block;
        }
        &--close {
            @media (max-width: $desktop) {
                display: none;
            }
        }
    }
}

.hamburger {
    background-color: $green;
    font-size: $text1;
    border: none;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 32px;
    right: 32px;
    @media (min-width: $desktop) {
        display: none;
    }
}