.opinions {
    background-color: $primary;
    width: 100%;
    min-height: 512px;
    &__box {
        margin : 0 16px;
        padding: 32px 0;
        @media (min-width: $desktop) {
            max-width: $desktop;
            margin : 0 auto;
        }
    }
    &__header {
        font-size: $text2;
        text-align: center;
        @media (min-width: $desktop) {
            font-size: $text1;
        }
    }
}