.social {
    &__header {
        font-size: $text1;
        text-align: center;
    }
    &__box {
        display: flex;
        justify-content: flex-start;
        column-gap: 16px;
    }
    &__description {
        font-size: $text1;
    }
    &__link {
        font-size: $text2;
        text-decoration: none;
        color: $black;
        padding-right: 32px;
    }
}