@import "_variables";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Work Sans", sans-serif;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 128px;
    max-width: 1256px;
    margin : 0 auto 16px;
    &__image {
        align-items: center;
        justify-content: center;
    }
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        list-style-type: none;
        padding-top: 24px;
        &--link {
            font-size: 32px;
            line-height: 40px;
            text-decoration: none;
            color: black;
        }
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1256px;
    &__header {
        font-size: 56px;
        text-align: center;
    }
    &__box {
        background-color: $green;
    }
    &__description {
        font-size: 32px;
        line-height: 32px;
    }
    &__button {
        font-size: 32px;
        line-height: 40px;
        text-decoration: none;
        color: black;
        background-color: $pink;
        padding: 8px;
        border-radius: 32px;
    }
    &__container {
        padding-bottom: 32px;
    }
}
.advantages {
    max-width: 768px;
    margin:0 auto;
    border-bottom: 4px solid $pink;
    padding: 32px 4px;
    &__header {
        font-size: 48px;
        text-align: center;
    }
    &__list {
        font-size: 24px;
    }

}

.courses {
    max-width: 1256px;
    margin : 0 auto;
    padding: 32px 0;
    &__header {
        font-size: 56px;
        text-align: center;
    }

    &__type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        &--header {
            font-size: 32px;
        }
        &--description {
            font-size: 24px;
        }
        &--image {
            padding: 8px;
        }
    }
    &__box {
        padding: 16px;
        &--header {
            display: flex;
            justify-content: center;
        }
    }
    &__button {
        &--box {
            display: flex;
            justify-content: center;
        }
        font-size: 32px;
        line-height: 40px;
        text-decoration: none;
        color: black;
        background-color: $pink;
        padding: 16px;
        border-radius: 32px;
    }

}

.contact {
    &__header {
        font-size: 56px;
        text-align: center;
    }
    &__description {
        font-size: 32px;
        text-align: center;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: $pink;
    min-height: 256px;
}