$green: #def5da;
$pink: #F5D4C1;
$dark_pink: #f39e64;
$instagram_color: #f00075;
$facebook_color: #1778f2;
$black: #000000;
$white: #ffffff;
$grey: #aaaaaa;

$tablet: 768px;
$desktop: 1256px;

$heading1: 3.5rem;
$heading2: 3rem;
$text1: 2rem;
$text2: 1.5rem;